streamlit==1.24.0
pandas
numpy
scikit-learn
nltk
gensim
pyldavis
matplotlib
wordcloud
transformers
fpdf2
python-docx
pdfplumber
langdetect
googletrans==4.0.0rc1
sentence-transformers
scipy
seaborn
plotly
beautifulsoup4
lxml
ebooklib
Pillow
pytesseract
python-pptx
striprtf
openpyxl
pyLDAvis==3.4.1
