body {
  background-color: #0f0c29;
  background-image: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  color: rgb(255, 255, 255) !important;
}
.title {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: white;
  margin-top: -30px;
}
.subtitle {
  text-align: center;
  color: #ffd966; 
  font-size: 20px;
  margin-bottom: 20px;

.upload-box {
  background-color: #3C3A70;
  padding: 18px;
  border-radius: 12px;
}
.card {
  background-color: #2A2852;
  padding: 18px;
  border-radius: 12px;
  margin-top: 16px;
}
.stButton > button {
  background-color: #ff4b8b;
  color: white;
  border-radius: 10px;
  padding: 10px 18px;
  font-weight: bold;
  border: none;
  font-size: 18px;
  width: 200px;
}

.stButton > button:hover {
  background-color: #ff2d75;
  color: white;
}
.stTextArea textarea {
  background-color: #1a1535;
  color: white;
  border-radius: 10px;
}
.badge {
  display: inline-block;
  background-color: #3C3A70;
  color: #fff;
  padding: 4px 10px;
  border-radius: 999px;
  margin-right: 6px;
  font-size: 12px;
}
.css-1d391kg {
  background-color: transparent !important;
}}